.drop{
	border:2px dotted #bdc3c7;
	padding:20px;
	margin-bottom:20px;
	width:100%;
	height:100px;
	color: #bdc3c7;
	font-size:200%;
}


#modalFile {
    display:block;
    height:0;
    width:0;
}

#staffImageFile {
    display:block;
    height:0;
    width:0;
}

#staffBioFile {
    display:block;
    height:0;
    width:0;
}

#editStaffImage {
    cursor: pointer;
}

#contentReset
{
    cursor: pointer;
}


div.gallery-image img {
    width:100%;
    height: 100%;
}